@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {}

/*                                                                                                                                               
 _   _ _____ ___ ____ _   _ _____   ____   ____ ____  _____ _____ _   _ 
| | | | ____|_ _/ ___| | | |_   _| / ___| / ___|  _ \| ____| ____| \ | |
| |_| |  _|  | | |  _| |_| | | |   \___ \| |   | |_) |  _| |  _| |  \| |
|  _  | |___ | | |_| |  _  | | |    ___) | |___|  _ <| |___| |___| |\  |
|_| |_|_____|___\____|_| |_| |_|   |____/ \____|_| \_|_____|_____|_| \_|
                                                                                                                                                                                                              
*/

.box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.justify__right {
    justify-content: end;
}


.height__full {
    height: 100%;
}

/*                                                                          
 _   _    ___     _______ ____    _  _____ ___ ___  _   _        ____    _    ____  
| \ | |  / \ \   / | ____/ ___|  / \|_   _|_ _/ _ \| \ | |      | __ )  / \  |  _ \ 
|  \| | / _ \ \ / /|  _|| |  _  / _ \ | |  | | | | |  \| |      |  _ \ / _ \ | |_) |
| |\  |/ ___ \ V / | |__| |_| |/ ___ \| |  | | |_| | |\  |      | |_) / ___ \|  _ < 
|_| \_/_/   \_\_/  |_____\____/_/   \_|_| |___\___/|_| \_|      |____/_/   \_|_| \_\
                                                                                                                                         
*/

.navbar {
    position: fixed;
    z-index: 1;
    width: 100vw;
    top: 0;
    padding: 2rem;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar ul li {
    padding: 0 10px;
    font-size: 12px;
}

.navbar ul li a {
    color: black;
    text-decoration: none;
}

.navbar ul li a:hover {
    color: gainsboro;
}

/*                           
 __  __    _    ___ _   _ 
|  \/  |  / \  |_ _| \ | |
| |\/| | / _ \  | ||  \| |
| |  | |/ ___ \ | || |\  |
|_|  |_/_/   \_|___|_| \_|
                          
*/

.height__screen {
    position: relative;
    height: 100vh;
}

.name__center {
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text__main {
    font-size: 70px;
    text-align: center;
}

.main__image {
    position: absolute;
    z-index: -1;
    height: 100%;
    right: 0;
    max-width: 50vw;
    object-fit: cover;
}

/*    
                                                                                                            
 ____   ___   ____ ___    _    _           ___ ____ ___  _   _ ____  
/ ___| / _ \ / ___|_ _|  / \  | |         |_ _/ ___/ _ \| \ | / ___| 
\___ \| | | | |    | |  / _ \ | |          | | |  | | | |  \| \___ \ 
 ___) | |_| | |___ | | / ___ \| |___       | | |__| |_| | |\  |___) |
|____/ \___/ \____|___/_/   \_|_____|     |___\____\___/|_| \_|____/                                                                     
                                                                                                                                                                                                          
*/

.icons__footer {
    position: absolute;
    display: flex;
    list-style: none;
    bottom: 30px;
    left: 30px;
}

.icons__footer a {
    padding: 0 7px;
}

.icons__footer a img {
    width: 15px;
}


/* ============================================ */

.background__gradient {
    background: linear-gradient(115deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 47%, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 1) 100%);
}

.name__center2 {
    color: aliceblue;
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 60px;
}